@tailwind base;
@tailwind components;
@tailwind utilities;


  h1 .icon::before{
    content: "#";
    font-size: 0.8rem;
  }

  h2 .icon::before{
    content: "##";
    font-size: 0.7rem;
  }
  
  h3 .icon::before{
    content: "###";
    font-size: 0.6rem;
  }

  .icon{
    background-color: white;
    color: white;
  }

  .is-active{
    color: orange;
  }

  .shadow-box {
    box-shadow: 0px 0px 10px rgb(36, 36, 36);
  }